* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.first-block {
  background: no-repeat url("/icons/bg.png");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu {
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.menu__logo {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.menu__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 45px;
  gap: 20px;
}
.menu--social-net {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 45px;
  gap: 20px;
}
.menu__dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.menu__social-net {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.navigation > li > a {
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.second-block {
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10%;
  gap: 30px;
  text-align: center;
}
.second-block__header {
  font-family: "Lora", serif;
  font-size: 84px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.second-block__info {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.second-block > button {
  margin: 3%;
}

.button {
  background: rgb(30, 212, 0);
  text-align: center;
  text-transform: uppercase;
  padding: 1% 6%;
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 900;
}

.activity {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.activity__header {
  font-family: "Quicksand", sans-serif;
  font-size: 56px;
  font-weight: 700;
  color: rgb(51, 51, 51);
  text-align: center;
}
.activity__info {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgb(51, 51, 51);
  margin-left: 10%;
  margin-right: 10%;
}

.activity > * {
  margin-top: 2%;
}

.list {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-right: 8%;
  margin-left: 8%;
}
.list__icon-text {
  font-family: "Roboto Slab", serif;
  font-size: 144px;
  font-weight: 700;
  color: rgb(30, 212, 0);
}
.list__icon {
  max-width: 144px;
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.list__text {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  margin-top: 40px;
  text-align: center;
}

.list > li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}

.trip-section {
  background: no-repeat url("/icons/barcelona.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6%;
  margin-top: 3%;
  gap: 30px;
}
.trip-section__header {
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
}
.trip-section__info {
  font-family: "Roboto Slab", serif;
  font-size: 144px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
}
.trip-section__text {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.trip-section__text2 {
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-align: center;
  border-bottom: white solid 2px;
  text-transform: uppercase;
}
.trip-section__button {
  margin-top: 5%;
}

/*# sourceMappingURL=style.css.map */
