* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

$white-color-op: rgba(255, 255, 255, 1);
$white-color: rgba(255, 255, 255, 1);
$green-color: rgba(30, 212, 0, 1);
$grey-color: rgba(51, 51, 51, 1);
$font-family-Lato: 'Lato', sans-serif;
$font-family-Lora: 'Lora', serif;
$font-family-Quick: 'Quicksand', sans-serif;
$font-family-Roboto: 'Roboto Slab', serif;


@mixin flex($dis,$dir,$just-cont,$align-it) {
  display: $dis;
  flex-direction: $dir;
  justify-content: $just-cont;
  align-items: $align-it;
}

@mixin font_settings($font-family, $font-size,$font-weight) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;

}

.first-block {
  background: no-repeat url("../icons/bg.png");
  background-size: 100%;
  @include flex(flex, column, space-around, center);
}

.menu {
  background: rgba(0, 0, 0, 0.75);
  @include flex(flex, row, space-around, center);
  width: 100%;

  &__logo {
    @include font_settings($font-family-Roboto, 32px, 700);
    color: $white-color;
  }

  &__navigation {
    @include flex(flex, row, space-around, center);
    padding: 20px 45px;
    gap: 20px
  }

  &--social-net {
    @include flex(flex, row, space-around, center);
    padding: 20px 45px;
    gap: 20px
  }

  &__dropdown {
    @include flex(flex, row, space-around, center);
    gap: 20px;
  }

  &__social-net {
    @include flex(flex, row, space-around, center);
    gap: 20px;
  }


  &--isWhiteBG {
    background: no-repeat url("../icons/mountain.svg");
    background-size: cover
  }

  &--isWhiteBG > p, &--isWhiteBG > ul > li > a {
    color: $grey-color;
  }

  &--isWhiteBG > ul > li > svg {
    fill: $grey-color;
  }
}

.navigation > li > a {
  color: $white-color-op;
  @include font_settings($font-family-Lato, 22px, 500);
}

.second-block {
  background: rgba(0, 0, 0, 0.75);
  @include flex(flex, column, space-around, center);
  width: 70%;
  margin: 10%;
  gap: 30px;
  text-align: center;


  &__header {
    @include font_settings($font-family-Lora, 84px, 700);
    color: $white-color-op;
    padding: 2%;
    text-transform: uppercase;
    text-align: center;
  }

  &__info {
    @include font_settings($font-family-Lato, 24px, 400);
    color: $white-color-op;
  }
}

.second-block > button {
  margin: 3%;
}

.button {
  background: $green-color;
  text-align: center;
  text-transform: uppercase;
  padding: 1% 6%;
  color: $white-color;
  @include font_settings($font-family-Lato, 16px, 900);

}

.activity {
  @include flex(flex, column, space-around, center);
  align-content: center;

  &__header {
    @include font_settings($font-family-Quick, 56px, 700);
    color: $grey-color;
    text-align: center;
  }

  &__info {
    @include font_settings($font-family-Quick, 20px, 500);
    color: $grey-color;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.activity > * {
  margin-top: 2%;
}

.list {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 0 8%;


  &__icon-text {
    @include font_settings($font-family-Roboto, 144px, 700);
    color: $green-color;
  }

  &__icon {
    max-width: 144px;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  &__text {
    @include font_settings($font-family-Quick, 40px, 400);
    color: $grey-color;
    margin-top: 40px;
    text-align: center;
  }
}

.list > li {
  position: relative;
  @include flex(flex, column, normal, center);
}

.trip-section {
  background: no-repeat url("../icons/barcelona.svg");
  background-size: cover;
  @include flex(flex, column, center, center);
  padding: 4%;
  margin-top: 3%;
  gap: 30px;

  &__header {
    @include font_settings($font-family-Roboto, 56px, 700);
    color: $white-color;
    text-align: center;
    text-transform: uppercase;
  }

  &__info {
    @include font_settings($font-family-Roboto, 144px, 700);
    color: $white-color;
    text-align: center;
  }

  &__text {
    @include font_settings($font-family-Quick, 24px, 400);
    color: $white-color;

  }

  &__text2 {
    @include font_settings($font-family-Quick, 28px, 500);
    color: $white-color;
    text-align: center;
    border-bottom: white solid 2px;
    text-transform: uppercase;
    margin-top: 2%;
  }

  &__button {
    margin-top: 3%;
  }
}

.pictures {
  @include flex(flex, column, space-between, center);
  margin: 3% 0;

  &__header {
    @include font_settings($font-family-Roboto, 56px, 700);
    color: $grey-color;
    text-align: center;
    text-transform: uppercase;
    padding-top: 2%;
  }

  &--isGreenBG {
    background: no-repeat url("../icons/green_bg.svg");
    background-size: cover;
  }
}

.lists {
  display: flex;
  justify-content: center;
}

.items {
  position: relative;
  margin: 30px 30px 50px 30px;

  &__info {
    @include font_settings($font-family-Roboto, 18px, 400);
    color: $white-color;
    background: $grey-color;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &__icon {
    max-width: 342px;

    &--isSmaller {
      max-width: 294px;
    }
  }
}

.view {
  @include flex(flex, column, center, center);
  gap: 20px;

  &__info {
    @include font_settings($font-family-Quick, 14px, 500);
    color: $grey-color;
    text-align: center;
    text-transform: uppercase;
  }

  &__button {
    padding: 15px 30px;
  }
}